<% @users.each do |user| %>
  <div class="row mt-3 user-content bg-color">
    <div class="col p-3 d-flex">
      <div class="col">
        <%= link_to(user_path(user), class: "text-main link-under-none font-weight-bold") do %>
          <%= attachment_image_tag user, :profile_image, :fill, 50, 50, fallback: "no_image.jpg", size: "50x50", class: "rounded-circle shadow link-under-none" %>
          <%= user.name %>
        <% end %>
      </div>
      <div class="col font-weight-bold text-left text-main">
        Lv. <%= user.level %><br>
        積み上げポイント：<%= user.experience_point %>pt
      </div>
      <div class="col pt-2">
        <%= render 'relationships/follow_btn', user: user %>
      </div>
    </div>
  </div>
<% end %>