<%= form_with(model: tweet, local: true) do |f| %>
  <div class="form-group">
    <p><strong>ツイート内容</strong></p>
    <%= f.text_area :body, placeholder: "あなたの積み上げをシェアしよう", class: "form-control" %>
  </div>
  <p><strong>タスク</strong></p>
  <div id="tasks" class="form-group">
    <%= f.fields_for :tasks do |task| %>
      <%= render 'task_fields', f: task %>
    <% end %>
    <%= link_to_add_association 'タスクを追加', f, :tasks, class: "btn btn-main" %>
  </div>
  <div class="actions">
    <%= f.submit "投稿する", class: "btn btn-info btn-custom px-5" %>
  </div>
<% end %>
