<div class="container">
  <%= render 'shared/flash_messages' %>
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-header">
          <%= attachment_image_tag @user, :profile_image, fallback: "no_image.jpg", size: '40x40', class: "rounded-circle" %>
          <%= @user.name %>
          <%= link_to 'edit', edit_tweet_path(@tweet) %>
          <%= link_to 'destroy', @tweet, method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>


        <div class="card-body">
          <div class="tweet-content">
            <%= safe_join(@tweet.body.split("\n"),tag(:br)) %>
          </div>
          <% @tweet.tasks.each do |task| %>
            <div class="row bg-color border my-3">
              <div class="col">
                <p><%= task.task_name %></p>
              </div>
            </div>
          <% end %>
        </div>
        <div class="card-footer">
          
        </div>
      </div>
    </div>
  </div>
</div>

