<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h3>ユーザー一覧</h3>
      <table class="table">
        <% @users.each do |user| %>
          <tr class="shadow rounded mb-4">
            <td>
              <%= attachment_image_tag user, :profile_image, :fill, 50, 50, fallback: "no_image.jpg", size: "60x60", class: "rounded-circle" %>
            </td>
            <td><%= user.name %></td>
            <td><%=  link_to 'Show', user_path(user) %></td>
            <td>
              <% unless user == current_user %>
                <% if current_user.following?(user) %>
                  <%= link_to 'フォローを外す', unfollow_path(user.id), method: :POST %>
                <% else %>
                  <%= link_to 'フォローする', follow_path(user.id), method: :POST %>
                <% end %>
              <% end %>
            </td>
          </tr>
        <% end%>
      </table>
    </div>
  </div>
</div>
