<div class="container">
  <div class="row">
    <div class="col border">
      <%= attachment_image_tag @user, :profile_image, :fill, 30, 30, fallback: "no_image.jpg", size:'60x60', class: "rounded-circle" %>
      <%= @user.name %>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <%= @user.introduction %>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <%= link_to '積み上げグラフ', '#', class: "btn btn-info" %>
    </div>
    <div class="col">
      <% if @user.id == current_user.id %>
        <%= link_to '', edit_user_path(@user), class: "btn btn-outline-secondary btn-block fas fa-user-cog" %>
      <% elsif current_user.following?(@user) %>
        <%= link_to 'フォローを外す', unfollow_path(@user.id), class: "btn btn-secondary btn-block", method: :POST %>
      <% else %>
        <%= link_to 'フォローする', follow_path(@user.id), class: "btn btn-success btn-block", method: :POST %>
      <% end %>
      
      
    </div>
  </div>
  <div class="row">
    <div class="col">
      
    </div>
  </div>
</div>

<%= link_to 'タスクを追加', new_tweet_path %>
