<div class="container">
  <%= render 'shared/flash_messages' %>
  <!--検索フォーム-->
  <div class="row mt-3">
    <%= render 'searches/form' %>
  </div>
  <!--ユーザ情報-->
  <div class="row mt-3 p-3 user-content mx-auto">
    <div class="col-md-2">
      <%= attachment_image_tag @user, :profile_image, fallback: "no_image.jpg", size: '120x120', class: "rounded-circle shadow ml-3" %>
    </div>
    <div class="col">
      <p class="user-name text-main"><%= @user.name %></p>
      <p class="user-introduction"><%= safe_join(@user.introduction.split("\n"),tag(:br)) %></p>
    </div>
  </div>
  <!--タスク・フォローボタン-->
  <div class="row mt-3">
    <div class="col mt-3">
      <%= link_to '積み上げを投稿する', new_tweet_path, class: "btn btn-add-task btn-block" %>
    </div>
    <div class="col mt-3">
      <% if @user.id == current_user.id %>
        <%= link_to 'アカウント編集', edit_user_registration_path, class: "btn btn-outline-info btn-block btn-custom" %>
      <% elsif current_user.following?(@user) %>
        <%= link_to 'フォローを外す', unfollow_path(@user.id), class: "btn btn-remove btn-block", method: :POST %>
      <% else %>
        <%= link_to 'フォローする', follow_path(@user.id), class: "btn btn-main btn-block", method: :POST %>
      <% end %>
    </div>
  </div>
  <!--フォローフォロワー数-->
  <div class="row my-3">
    <div class="col">
      <%= link_to("#{@user.follower.count}フォロー", follows_path(@user), class: "text-main font-weight-bold link-under-none") %>
      <%= link_to("#{@user.followed.count}フォロワー", followers_path(@user), class: "text-main font-weight-bold link-under-none") %>
    </div>
  </div>
  <!--レベル-->
  <div class="row bg-color mx-auto mb-4">
    <div class="col-md-6 pt-3">
      <p class="level-text">積み上げレベル</p>
      <p class="level-content">
        <span class="level-tag">Lv. </span>
        <span class="level-num"><%= @user.level %></span>
      </p>
    </div>
    <!--経験値バー-->
    <div class="col-md-6 pt-3">
      <p class="level-text">積み上げポイント：<%= @user.experience_point %>pt</p>
      <div class="exp-content">
        <progress id="exp_bar" max="100" value="<%= @exp_bar %>"><%= @exp_bar %></progress>
        <p><small>次のレベルアップまで：<%= @next_level_exp %> pt</small></p>
      </div>
    </div>
  </div>
  <!--ツイート・タスク内容-->
  <% @tweets.each do |tweet| %>
    <div class="row my-3">
      <div class="col">
        <div class="card shadow">
          <div class="card-header">
            <%= link_to(user_path(@user), class: "link-under-none text-main font-weight-bold") do %>
              <%= attachment_image_tag @user, :profile_image, fallback: "no_image.jpg", size: '40x40', class: "rounded-circle" %>
              <%= @user.name %>
            <% end %>
            <% if tweet.user_id == current_user.id %>
              <%= link_to '', edit_tweet_path(tweet), class:"fas fa-edit tweet-edit-icon" %>
            <% end %>
          </div>
          <div class="card-body">
            <%= link_to(tweet_path(tweet), class: "link-under-none text-main") do %>
              <div class="tweet-content mb-3">
                <p class="tweet-text"><%= safe_join(tweet.body.split("\n"),tag(:br)) %></p>
              </div>
            <% end %>
            <% tweet.tasks.each do |task| %>
              <div class="row mx-auto bg-color task-content my-3">
                <div class="col pt-3 text-main font-weight-bold">
                  <%= task.task_name %>
                </div>
                <div class="col-md-3 pt-3 text-right">
                  <p><i class="far fa-check-square"></i> <%= task.status %></p>
                </div>
              </div>
            <% end %>
            <i class="fas fa-bullhorn"></i>：<%= tweet.cheers.count %>
            <i class="far fa-comment-alt"></i>：<%= tweet.tweet_comments.count %><br>
            <small><%= tweet.created_at.strftime('%Y/%m/%d %-H:%-M') %></small>
          </div>
          <div class="card-footer">
            <%= link_to 'コメントする', tweet_path(tweet), class: "link-under-none text-main far fa-comment-alt" %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>



